################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Thomerson.DesignPattern/.vs/Thomerson.DesignPattern/v15
/Thomerson.DesignPattern/Thomerson.DesignPattern/obj
/Thomerson.DesignPattern/Thomerson.DesignPattern/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/单例模式/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/单例模式/obj
/Thomerson.DesignPattern/工厂方法模式/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/工厂方法模式/obj
/Thomerson.DesignPattern/简单工厂模式/obj
/Thomerson.DesignPattern/简单工厂模式/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/原型模式/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/原型模式/obj
/Thomerson.DesignPattern/建造者模式/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/建造者模式/obj
/Thomerson.DesignPattern/抽象工厂模式/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/抽象工厂模式/obj
/Thomerson.DesignPattern/桥接模式/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/桥接模式/obj
/Thomerson.DesignPattern/适配器模式/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/适配器模式/obj
/Thomerson.DesignPattern/享元模式/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/享元模式/obj
/Thomerson.DesignPattern/外观模式/obj
/Thomerson.DesignPattern/外观模式/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/组合模式/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/组合模式/obj
/Thomerson.DesignPattern/装饰者模式/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/装饰者模式/obj
/Thomerson.DesignPattern/代理模式/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/代理模式/obj
/Thomerson.DesignPattern/命令模式/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/命令模式/obj
/Thomerson.DesignPattern/责任链模式/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/责任链模式/obj
/Thomerson.DesignPattern/观察者模式/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/观察者模式/obj
/Thomerson.DesignPattern/解释器模式/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/解释器模式/obj
/Thomerson.DesignPattern/迭代器模式/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/迭代器模式/obj
/Thomerson.DesignPattern/中介者模式/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/中介者模式/obj
/Thomerson.DesignPattern/状态者模式/obj
/Thomerson.DesignPattern/状态者模式/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/策略者模式/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/策略者模式/obj
/Thomerson.DesignPattern/访问者模式/obj
/Thomerson.DesignPattern/访问者模式/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/备忘录模式/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/备忘录模式/obj
/Thomerson.DesignPattern/.vs/Thomerson.DesignPattern/v16/.suo
/Thomerson.DesignPattern/.vs/ProjectEvaluation
/Thomerson.DesignPattern/.vs/Thomerson.DesignPattern/FileContentIndex
/Thomerson.DesignPattern/.vs/Thomerson.DesignPattern/v17
/Thomerson.DesignPattern/Thomerson.DesignPattern.FilterPattern/obj
/Thomerson.DesignPattern/Thomerson.DesignPattern.FilterPattern/bin/Debug/netcoreapp2.0
