################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Thomerson.DesignPattern/.vs/Thomerson.DesignPattern/v15
/Thomerson.DesignPattern/Thomerson.DesignPattern/obj
/Thomerson.DesignPattern/Thomerson.DesignPattern/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/单例模式/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/单例模式/obj
/Thomerson.DesignPattern/工厂方法模式/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/工厂方法模式/obj
/Thomerson.DesignPattern/简单工厂模式/obj
/Thomerson.DesignPattern/简单工厂模式/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/原型模式/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/原型模式/obj
/Thomerson.DesignPattern/建造者模式/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/建造者模式/obj
/Thomerson.DesignPattern/抽象工厂模式/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/抽象工厂模式/obj
/Thomerson.DesignPattern/桥接模式/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/桥接模式/obj
/Thomerson.DesignPattern/适配器模式/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/适配器模式/obj
/Thomerson.DesignPattern/享元模式/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/享元模式/obj
/Thomerson.DesignPattern/外观模式/obj
/Thomerson.DesignPattern/外观模式/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/组合模式/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/组合模式/obj
/Thomerson.DesignPattern/装饰者模式/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/装饰者模式/obj
/Thomerson.DesignPattern/代理模式/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/代理模式/obj
/Thomerson.DesignPattern/命令模式/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/命令模式/obj
/Thomerson.DesignPattern/责任链模式/bin/Debug/netcoreapp2.0
/Thomerson.DesignPattern/责任链模式/obj
