################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Thomerson.DesignPattern/.vs/Thomerson.DesignPattern/v15
